html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#enterPage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#top {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#chatbox {
  position: absolute;
  height: 180px;
  right: 20px;
  left: 20px;
  bottom: 0px;
}

#chatinput {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
}

#messages {
  overflow: scroll;
  height: 100px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  border-style:solid;
  border-width:1px;
}


#submit_button {
    border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-weight: bold;
	color: #663300;
	width: 100px;
}

#submit_button:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}

#submit_button:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}


#mapholder {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #mapholder {
    height: 650px;
  }
}

#terms {
    font-size: 0.7em;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

.centerMargin {
  margin: 20% auto;
  width: 70%;
  background-color: white;
  border: 1px solid;
  border-radius: 12px;
  opacity: 1;
  position: relative;
  padding: 4%;
  text-align: center;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
}

.shadow {
  background-color: grey;
  opacity: 0.7;
}

#join_error {
  color: red;
  font-size: 1.2em;
}
